html {
  min-height: 100%;
}

h2 {
  margin-top: -45%;
  color: white;
}

.anim-circle {
  color: transparent;
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: lightblue;
  animation: animate 5s linear infinite;
}

/*rgba(0, 0, 225, .1)*/

@keyframes animate {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.486), 0 0 0 30px rgba(188, 237, 243, 0.486), 0 0 0 45px rgba(188, 237, 243, 0.486), 0 0 0 60px rgba(188, 237, 243, 0.486), 0 0 0 75px rgba(188, 237, 243, 0.486);

  }

  50% {
    box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.616), 0 0 0 50px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616), 0 0 0 100px rgba(188, 237, 243, 0.616), 0 0 0 125px rgba(188, 237, 243, 0.616);

  }

  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.616), 0 0 0 30px rgba(188, 237, 243, 0.616), 0 0 0 45px rgba(188, 237, 243, 0.616), 0 0 0 60px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616);

  }
}

.anim-fog {
  color: transparent;
  position: absolute;
  /* top: 60%; */
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: lightblue;
  animation: animate 6s linear infinite;
  /* opacity: .99; */

  /* z-index: 1; */
}

.anim-fog-div {
  color: transparent;
  background-image: url('./images/fog.png');
  background-position: center;
  background-size: cover;
  height: 44vh;
  width: 80%;
  position: absolute;
  top: -66%;
  left: 10%;
  /* z-index: 2; */
}



@keyframes animate {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.486), 0 0 0 30px rgba(188, 237, 243, 0.486), 0 0 0 45px rgba(188, 237, 243, 0.486), 0 0 0 60px rgba(188, 237, 243, 0.486), 0 0 0 75px rgba(188, 237, 243, 0.486);

  }

  50% {
    box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.616), 0 0 0 50px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616), 0 0 0 100px rgba(188, 237, 243, 0.616), 0 0 0 125px rgba(188, 237, 243, 0.616);
    

  }

  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.616), 0 0 0 30px rgba(188, 237, 243, 0.616), 0 0 0 45px rgba(188, 237, 243, 0.616), 0 0 0 60px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616);

  }
}

.anim-split-left {
  background: lightblue;
  color: transparent;
  position: absolute;
  top: -28%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  /* border-radius: 50%; */
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  animation: animate 5s linear infinite;

}
@keyframes animate {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.616), 0 0 0 30px rgba(188, 237, 243, 0.616), 0 0 0 45px rgba(188, 237, 243, 0.616), 0 0 0 60px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616);

  }

  50% {
    box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.616), 0 0 0 50px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616), 0 0 0 100px rgba(188, 237, 243, 0.616), 0 0 0 125px rgba(188, 237, 243, 0.616);

  }

  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.616), 0 0 0 30px rgba(188, 237, 243, 0.616), 0 0 0 45px rgba(188, 237, 243, 0.616), 0 0 0 60px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616);

  }
}

.anim-split-right {
  background: lightblue;
  color: transparent;
  position: absolute;
  top: -28%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  animation: animate 5s linear infinite;

}
@keyframes animate {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.486), 0 0 0 30px rgba(188, 237, 243, 0.486), 0 0 0 45px rgba(188, 237, 243, 0.486), 0 0 0 60px rgba(188, 237, 243, 0.486), 0 0 0 75px rgba(188, 237, 243, 0.486);

  }

  50% {
    box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.616), 0 0 0 50px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616), 0 0 0 100px rgba(188, 237, 243, 0.616), 0 0 0 125px rgba(188, 237, 243, 0.616);

  }

  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.616), 0 0 0 30px rgba(188, 237, 243, 0.616), 0 0 0 45px rgba(188, 237, 243, 0.616), 0 0 0 60px rgba(188, 237, 243, 0.616), 0 0 0 75px rgba(188, 237, 243, 0.616);

  }
}

body {
  /* background-image: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 17%, rgba(0,212,255,1) 100%); */
  background-image: linear-gradient(0deg, rgb(37, 33, 105) 0%, rgb(50, 50, 172) 17%, rgb(63, 209, 238) 100%);

  margin: 0;
}

.breathing-tech-container {
  position: absolute;
  margin-top: -22%;
  margin-left: 30%;
  width: 46%;
  /* background: black; */

}

.bt-instructions {
  margin-top: 70%;
  overflow-y: scroll;
  height: 140px;
}

.home-img {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* margin-top: -44%;  */

   position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 20%; 
  min-height: 20%; 
}

.home-img-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#home-title {
  /* position: absolute; */
  color: rgb(20, 152, 175);
  font-size: 30pt;
  font-weight: 500;
  margin-bottom: 3%;
  /* margin-left: 45%;
  margin-top: 20%; */
  z-index: 999;
} 

input[type=text], input[type=password] {
  width: 70%;
  margin: 1% 0 1.5% 0;
  padding: 1% 1%;
  /* border: none; */
  background: rgba(101, 187, 202, 0.548);
}

input[type=text] {
  margin-top: 8%;
}

li {
  color: white;
  font-size: 10pt;
}

#login-form-container {
  /* position: relative;
  z-index: 999;
  margin-top: 5%;
  margin-left: 40%;
  border-radius: 3%;
  background: white;
  width: 30%; */

  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 999;
  border-radius: 3%;
  /* background: rgb(212, 202, 202); */
  width: 30%;
  height: 40%;
  padding: 2%;
}

#login-form {
  position: relative;
  margin-top: 1%;
}

.logo {
  height: 4vh;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
.logo-name {
  color: white;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 30pt;
  margin-left: .7%;
  width: 13%;
  position: relative;
  z-index: 999;
}

.nav-container {
  background: rgba(255, 255, 255, 0.411);
  display: flex;
  flex-direction: column;
  width: 19%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2% 1%;
  border-radius: 3%;
  position: relative;
  z-index: 999;

}

.nav-element {
  list-style: none;
  display: inline-flex;
  margin: .5% auto;
  padding-bottom: 6%;
}

.signup-link{
  margin-top: 2%;
  color: white;
}

.source {
  color: white;
  font-size: 10pt;
}